NEXT_PUBLIC_DETECTOR_MODE=server-v2
NEXT_PUBLIC_WALKSAFE_DESTINATION_LAT=
NEXT_PUBLIC_WALKSAFE_DESTINATION_LNG=
NEXT_PUBLIC_WALKSAFE_DESTINATION_NAME=
NEXT_PUBLIC_WALKSAFE_STEP_LENGTH_M=0.65
NEXT_PUBLIC_WALKSAFE_DESTINATION_MAX_DISTANCE_M=30000
NEXT_PUBLIC_WALKSAFE_DESTINATION_SEARCH_DEBOUNCE_MS=250
NEXT_PUBLIC_WALKSAFE_AUTO_REROUTE_COOLDOWN_MS=30000
NEXT_PUBLIC_WALKSAFE_AUTO_REROUTE_MAX_COUNT=2
NEXT_PUBLIC_WALKSAFE_REROUTE_MAX_ACCURACY_M=35
NEXT_PUBLIC_WALKSAFE_GUIDANCE_MAX_GPS_ACCURACY_M=15
NEXT_PUBLIC_WALKSAFE_REROUTE_MAX_GPS_JUMP_M=50
NEXT_PUBLIC_WALKSAFE_ARRIVAL_RADIUS_M=8
NEXT_PUBLIC_WALKSAFE_ARRIVAL_MAX_ACCURACY_M=20
NEXT_PUBLIC_WALKSAFE_SUPERVISED_TACTILE_LOCAL_STEERING=false
NEXT_PUBLIC_WALKSAFE_TEST_CAPTURE_PANEL=false
NEXT_PUBLIC_WALKSAFE_PWA_ENABLED=false
WALKSAFE_TEST_LOG_ENABLED=false
WALKSAFE_TEST_LOG_ALLOW_PRODUCTION_FIELD=false
WALKSAFE_TEST_LOG_AUTH_TOKEN=
WALKSAFE_TEST_LOG_RETENTION_DAYS=7
WALKSAFE_TEST_LOG_RATE_LIMIT_PER_MINUTE=30
WALKSAFE_TEST_LOG_MAX_DAILY_ENTRIES=1000
WALKSAFE_TEST_LOG_MAX_TOTAL_BYTES=2147483648
WALKSAFE_TEST_LOG_MIN_FREE_BYTES=2147483648
WALKSAFE_FIELD_LOG_RETENTION_DAYS=7
BACKEND_API_BASE_URL=http://127.0.0.1:8000
VOICE_API_BASE_URL=http://127.0.0.1:9001
VOICE_SERVICE_TOKEN=
WALKSAFE_FIELD_TEST_TOKEN=
WALKSAFE_ADMIN_TOKEN=
WALKSAFE_FIELD_ACCOUNTS_JSON=
WALKSAFE_ADMIN_ACCOUNTS_JSON=
WALKSAFE_GATEWAY_SESSION_SECRET=
WALKSAFE_ALLOW_INSECURE_LOCAL_DEV=false
WALKSAFE_GATEWAY_RATE_LIMIT_DIR=
WALKSAFE_GATEWAY_TRUSTED_IP_HEADER=
WALKSAFE_WEB_REPLICAS=1
WALKSAFE_WEB_PROCESS_LOCK_PATH=
WALKSAFE_ALLOWED_DEV_ORIGINS=
