<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:label="WalkSafe 시각 테스트" tools:replace="android:label" android:networkSecurityConfig="@xml/debug_network_security_config" />
</manifest>
